*.sublime-workspace
*.sublime-project
frostyc/project/project/
frostyc/project/target/
frostyc/target/
frostyvm/Cargo.lock
frostyvm/target
frostyc/*.sh
validation/target/
sloc
pocs
cruft 
*.procs
readme.html
